/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
            }



main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

header {
    background-color: green
}


table {
    width: 100%;
    border-collapse: collapse;
}

    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    table th {
        background-color: green;
    }
/*footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/
@media screen and (max-width: 480px) {
    /* Adjust styles for small screens (mobile) */
    header, footer {
        padding: 5px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        nav ul li a:hover {
            background-color: #555; /* Change to desired hover color */
        }

    nav ul li.active a {
        background-color: #555; /* Change to desired color when clicked */
    }
