/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex; /* Use flexbox for horizontal layout */
    }

        nav ul li {
            margin-right: 20px;
        }

            nav ul li:last-child {
                margin-right: 0; /* Remove margin for the last item */
            }

            nav ul li a {
                color: white;
                text-decoration: none;
                padding: 10px;
            }

main {
    padding: 15px;
}

section {
    margin-bottom: 20px;
}

header {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid black;
}

    table th, table td {
        border: 5px solid black;
        padding: 8px;
        text-align: left;
    }

    table th {
        background-color: green;
    }

/* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

        nav ul li {
            margin-right: 0;
            margin-bottom: 10px;
        }
}
